
body,
.bgImage {
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: url('./img/hallway.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
// https://i.pinimg.com/originals/f7/3a/5b/f73a5b4b7262440684a2b5c39e684304.jpg


.bgImage {
  width: 120vw;
}
// .bgImage {
//   position: absolute;
//   // background-image: url(https://i.pinimg.com/originals/b1/ec/7a/b1ec7a403decd4f077e8cc15a0965ef5.jpg);
//   background-position: top;
//   background-repeat: no-repeat;
//   transform: rotate(90deg);
//   background-size: cover;
//   -webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
//   filter: grayscale(10%);
//   z-index: -1;
// }

.blobCont {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

@for $i from 1 through 18 {
  $a: #{$i*90};
  $b: #{$i*90+360};

  .blob:nth-child(#{$i}) {
    animation: move#{$i} 20s infinite linear;
  }

  @keyframes move#{$i} {
    from {
      transform: rotate(#{$a}deg) translate(200px, 0.1px) rotate(-#{$a}deg);
    }
    to {
      transform: rotate(#{$b}deg) translate(200px, 0.1px) rotate(-#{$b}deg);
    }
  }
}


