html, body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

.navbar {
  justify-content: flex-end;
  padding-right: 2%;
  color: #FFF !important;
}

.navbar-text {
  font-size: 1.4em;
  font-weight: bold;
  transition: transform 200ms ease-in;
  margin-left: 20px;
}


.navbar-text:hover {
  color: rgb(133, 138, 212) !important;
  transform: scale(1.1);
}

/* hybrixmatch */

#move {
  animation: move 1.5s ease-in;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.29,.19,.43,1);
}

@keyframes move {
  0%{margin-top: 17%}
  100%{margin-top: 2%}
}

.form-style {
  max-width: 40%;
  margin: 0 auto;
  position: relative;
  margin-top: 17%;
  z-index: 5;
  color: #FFF;
}

.container-position {
  max-width: 100vw;
  margin-right: 20%;
}

.form-text {
  color: #FFF !important;
  font-size: 1.15em;
  font-weight: 600;
}

.input-color{
  background-image: linear-gradient(to right, #6E4EA1 ,#461f7a);
  border: 0px solid;
  color: #FFF;
}

.input-color::placeholder {
  color: #FFF;
}

.input-color:focus, html:-internal-autofill-selected, .input-color:-internal-autofill-previewed, .form-control:focus  {
  background-image: linear-gradient(to right, #FEA168, #FEA168) !important;
  color: #FFF !important;
}

#button-color {
  background-color: #6E4EA1;
  display: block;
  margin: auto;
  margin-bottom: 5px;
}

#button-color:hover, #button-color:focus, #button-color:active {
  background-color: #FEA168 !important;
  border-color: #FEA168 !important;
  box-shadow: 0 0 0 0.25rem #6E4EA1;
}

.artist, .albums, .tracks {
  z-index: 1;
}

.name-alignment {
  text-align: center;
}

.bottom-push {
  margin-bottom: 5em;
}

.list-card {
  width: 40%;
  background-color: #6e4ea1d3;
  color: #FFF;
  border: none;
  margin: 0 auto;
}

.back-btn {
  width: 5vw;
  background-color: #FEA168;
}

.back-btn:hover, .back-btn:focus, .back-btn:active {
  background-color: #43B09B !important;
  border-color: #43B09B  !important;
  box-shadow: 0 0 0 0.25rem #FEA168;
}

.loading {
  text-align: center;
  font-size: 1.3em;
  font-weight: bolder;
}

.cursor {
  cursor: pointer;
  width: 32%;
  display: block;
  margin: 0 auto;
}

.cursor:hover {
  color: #000;
}

.no-lyrics {
  text-align: center;
}

@media only screen and (max-width: 1300px) {
  .back-btn {
    width: 9vw;
    padding: 5px;
  }
}

